# PHP
vendor/
composer.phar
composer.lock
.phpunit.result.cache

# Replit
.replit
replit.nix
.config/
.cache/
.upm/
.local/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
